/*###################################################################*/
/*###################################################################*/
/*#########################   B   O   D   Y   #######################*/
/*###################################################################*/
/*###################################################################*/



body {
    padding : 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}


/*###################################################################*/
/*###################################################################*/
/*#####################   H   E   A   D   E   R   ###################*/
/*###################################################################*/
/*###################################################################*/

header {
    background-color: #cdb4db;
    display: flex; 
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 1%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 2%;
}



@media (min-width:350px) and (max-width: 1100px) {
    header ul li {
        flex-shrink: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    header ul li a{
        font-size: 10%;
    }

    header ul {
        margin-right: 15%;
    }

    #img-header {
        width: 1500000%;
    } 
}

header ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
    margin-bottom: 2%;
    align-items: center;
}


header ul li {
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 150%;
}

.img-header {
    width: 9%;
    border-radius: 50% 20% / 10% 40%;
    border: black solid 1px;
}



/*###################################################################*/
/*###################################################################*/
/*#########################   M   A   I   N   #######################*/
/*###################################################################*/
/*###################################################################*/

/*############ A PROPOS ############*/

#part1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top:2%;
}

#a-propos {
    width: 50%;
    padding: 5%;
    border-radius: 25% 50% 50% 30%;
    background-color: #ffafcc;
    margin-right: 1%;
    border-right: #ffc8dd solid 10px;
}


#img-tête{
    width: 30%;
}

/*######### COMPETENCES ########*/

.img-competences {
    width: 15%;
}

#competences {
    width: 50%;
    padding: 5%;
    border-radius: 50% 25% 30% 50%;
    background-color: #a2d2ff;
    margin-left: 1%;
    border-left: #bde0fe solid 10px;
}