/*###################################################################*/
/*###################################################################*/
/*#########################   B   O   D   Y   #######################*/
/*###################################################################*/
/*###################################################################*/



body {
    padding : 0;
    margin: 0;
}


/*###################################################################*/
/*###################################################################*/
/*#####################   H   E   A   D   E   R   ###################*/
/*###################################################################*/
/*###################################################################*/

header {
    background-color: #6a994e;
    display: flex; 
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 1%;
    border-bottom-left-radius: 50%;
    margin-left: 2%;
}



@media (min-width:350px) and (max-width: 1100px) {
    header ul li {
        flex-shrink: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    header ul li a{
        font-size: 10%;
    }

    header ul {
        margin-right: 15%;
    }

    #img-header {
        width: 1500000%;
    } 
}

header ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
    margin-bottom: 2%;
    align-items: center;
}


header ul li {
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: white;
    font-size: 150%;
}

.img-header {
    width: 9%;
    border-radius: 50% 20% / 10% 40%;
}



/*###################################################################*/
/*###################################################################*/
/*#########################   M   A   I   N   #######################*/
/*###################################################################*/
/*###################################################################*/

/*############ A PROPOS ############*/




#img-tête{
    width: 10%;
}